@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
   --Black: #000;
   --White: #fff;
   --Blue: #0078AA;
   --Background-ligt: #e6f3ea;
   --Background-dark: #161515;
   --Dark-card: #212324;
   --Ligt-card: #D1D1D1;
   --Ligt-switch: #DFDFDE;
   --Dark-switch: ;
   --Setings: #2C3333;
   --Nav-dark: #0f0e0e;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body{
   height: 100vh;
   background-color: var(--Background-ligt);
   transition: background-color 0.5s;
}

.dark_teme{
   background-color: var(--Background-dark);
}

/* loaded */
.load{
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   z-index: 100;
   background-color: var(--Background-ligt);
}

.dark_teme .load{
   background-color: var(--Background-dark);
}

.load img{
   width: 160px;
   transform: translateY(-100px);
   transition: transform 1s;
}


/* barra de navegacion */
.nav_barr{
   position: fixed;
   width: 100%;
   height: 60px;
   z-index: 1;
   transition: background-color 0.6s, box-shadow 0.4s;
}

.nav_active{
   background-color: var(--White);
   box-shadow: 0 1px 15px rgba(0, 0, 0, 0.100);
}

.dark_teme .nav_active{
   background-color: var(--Nav-dark);
}

.barr{
   max-width: 1000px;
   height: 100%;
   margin: 0 auto;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

li{
   cursor: pointer;
   z-index: 10;
}

.barr:hover .text_categories span, .barr:hover .text_add_cat span{
   opacity: 90%;
}

.nav_logo{
   height: 100%;
}

.content_logo{
   height: 100%;
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 8px;
   color: var(--Black);
}

.dark_teme .content_logo{
   color: var(--White);
}

.dark_teme .content_logo p{
   opacity: 90%;
}

.nav_logo img{
   height: 50%;
}

.text_categories, .text_add_cat{
   color: var(--Black);
   display: flex;
   align-items: center;
   gap: 8px;
}

.dark_teme .text_categories, .dark_teme .text_add_cat{
   color: var(--White);
}

.text_categories span, .text_add_cat span{
   transition: opacity 0.4s;
   opacity: 0;
}

.nav_switch{
   width: 54px;
   height: 27px;
   border-radius: 20px;
   color: var(--Black);
   padding: 3px;
   transition: background-color 0.5s;
}

.dark_teme .nav_switch{
   color: var(--White);
}

.switch_circle{
   height: 100%;
   aspect-ratio: 1;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.5s, background-color 0.5s;
   background-color: var(--White);
}

.dark_teme .switch_circle{
   background-color: var(--Nav-dark);
}

.barr:hover .nav_switch{
   background-color: var(--Ligt-switch);
}

.dark_teme .barr:hover .nav_switch{
   background-color: var(--Dark-card);
}

.switch_circle i{
   font-size: 18px;
}


/* categories */
.categories{
   position: absolute;
   top: 0;
   width: 100%;
   padding: 18px 0 62px 0;
   color: var(--White);
   transform: translateY(-100vh);
   background-color: var(--White);
   box-shadow: 0 1px 15px rgba(0, 0, 0, 0.400);
   transition: transform 0.5s;
}

.dark_teme .categories{
   background-color: var(--Nav-dark);
}

.open_categorie{
   transform: translateY(0);
}

.close_categories{
   width: 100%;
   text-align: center;
   color: var(--Black);
}

.dark_teme .close_categories{
   color: var(--White);
}

.close_categories span{
   cursor: pointer;
   margin-bottom: 30px;
}

.list_categories{
   list-style: none;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 60px 20px;
}

.list_categories li{
   width: 184px;
   height: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.categorie{
   cursor: pointer;
   display: flex;
   align-items: center;
   flex-direction: column;
   z-index: 1;
   width: 100%;
   height: 100%;
   padding: 10px;
   border-radius: 14px;
   background-color: #0073a0;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.500);
}

.categorie p{
   font-weight: 700;
}

.categorie span{
   opacity: 94%;
}

.cat_config{
   background-color: var(--Ligt-card);
   width: 80%;
   height: 58px;
   position: absolute;
   padding: 4px 0;
   border-radius: 0 0 8px 8px;
   transition: 0.5s;
   box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.600);
}

.dark_teme .cat_config{
   background-color: var(--Dark-card);
}

.list_categories li:hover .cat_config{
   transform: translateY(100%);
}

.cat_config p{
   display: flex;
   align-items: center;
   gap: 4px;
   width: 100%;
   font-size: 80%;
   padding: 1px 10px;
   color: var(--Black);
}

.dark_teme .cat_config p{
   color: var(--White);
}

.cat_config p:hover{
   background-color: var(--Blue);
}

.cat_config p span{
   font-size: 100%;
}



/* Constenido */
.container{
   /* background-color: rgb(39, 131, 212); */
   padding-top: 100px;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.web_page{
   position: relative;
   align-self: center;
   justify-self: center;
   padding: 10px;
   width: 107.5px;
   border-radius: 10px;
   transition: background-color 0.5s;
   background-color: var(--Ligt-card);
   box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.500);
}

.dark_teme .web_page{
   background-color: var(--Dark-card);
}

.web_page:active{
   border: var(--Blue) 3px solid;
   box-shadow: -3px 4px 10px rgba(0, 119, 170, 0.500);
}

.contain_img{
   cursor: pointer;
   width: 100%;
}

.contain_img img{
   width: 100%;
   border-radius: 10px;
}

.web_title{
   cursor: pointer;
   text-align: center;
   color: var(--Black);
   margin-top: 6%;
   font-size: 76%;
}

.dark_teme .web_title{
   color: var(--White);
   opacity: 90%;
}

.btn_web{
   cursor: pointer;
   transform: scale(0);
   position: absolute;
   border: none;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   top: -18px;
   right: -18px;
   transition: transform 0.2s;
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.308);
}

.web_page:hover .btn_web{
   transform: scale(1);
}

.web_page a{
   text-decoration: none;
}

.btn_active{
   transform: scale(1);
}

.settings{
   position: absolute;
   padding: 6px 0;
   right: -140px;
   z-index: 2;
   border-radius: 4px;
   background-color: var(--Ligt-card);
   transform: scale(0);
   transition: transform 0.2s;
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.308);
}

.dark_teme .settings{
   background-color: var(--Dark-card);
}

.settings p{
   display: flex;
   cursor: pointer;
   align-items: center;
   gap: 4px;
   height: 24px;
   padding: 0 8px;
   font-size: 86%;
   color: var(--Black);
}

.dark_teme .settings p{
   color: var(--White);
   opacity: 90%;
}

.settings p:hover{
   background-color: #0073a0;
}

.settings span{
   font-size: 18px;
}

.active_settings{
   transform: scale(1);
}


.config{
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: scale(0);
   transition: transform 0.5s;
   z-index: 20;
}

.config_card{
   position: relative;
   display: flex;
   flex-direction: column;
   width: 400px;
   color: var(--Black);
   padding: 26px;
   border-radius: 6px;
   background-color: var(--Ligt-card);
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.514);
}

.dark_teme .config_card{
   color: var(--White);
   background-color: var(--Dark-card);
}

.config_title{
   margin-bottom: 24px;
   font-weight: 700;
}

.config_input{
   font-size: 80%;
   margin-bottom: 6px;
}

.dark_teme .config_input{
   opacity: 86%;
}

.config_card input{
   outline: none;
   margin-bottom: 20px;
   background-color: transparent;
   border: var(--Black) 1px solid;
   border-radius: 4px;
   height: 36px;
   color: var(--Black);
   opacity: 96%;
   padding: 10px 18px;
   font-size: 80%;
}

.dark_teme input{
   border: var(--White) 1px solid;
   color: var(--White);
   opacity: 60%;
}

input.color_input{
   padding: 0;
}

.config_card input:hover{
   border: #3AB4F2 4px solid;
   padding: 10px 15px;
}

input.color_input:hover{
   padding: 0;
}

.config_buttons{
   margin-top: auto;
   align-self: flex-end;
   display: flex;
   gap: 14px;
}

.button_cancel{
   cursor: pointer;
   width: 85px;
   height: 30px;
   opacity: 80%;
   color: var(--Black);
   border-radius: 20px;
   background-color: transparent;
   border: var(--Black) 1px solid;
}

.dark_teme .button_cancel{
   opacity: 60%;
   color: var(--White);
   border: var(--White) 1px solid;
}

.button_cancel:hover{
   opacity: 100%;
}

.button_cancel span{
   font-size: 90%;
}

.button_save{
   cursor: pointer;
   width: 85px;
   height: 30px;
   color: var(--Black);
   border: none;
   border-radius: 20px;
   background-color: #0078AA;
}

.dark_teme .button_save{
   color: var(--White);
}

.config_close{
   cursor: pointer;
   position: absolute;
   border-radius: 50%;
   top: 20px;
   right: 20px;
   transition: background-color 0.2s;
}

.config_close:hover{
   background-color: rgba(41, 41, 41, 0.473);
}

.dark_teme .config_close:hover{
   background-color: rgba(255, 255, 255, 0.450);
}